
<h4>Form Create</h4>

<form  [formGroup]="imageForm" (ngSubmit)="onSubmit()"  >
    <div class="card">
      <div class="input-file">
        <input type="file"
                placeholder="File"
                (change)="onFileChange($event)"
                formControlName="file">
         <img  style="width: 100px; height: 100px;" *ngIf="image" class="img-fluid img-thumbnail image" src="{{image}}" alt="">
    </div>
  
    <input type="text" placeholder="code" formControlName="code" class=" form-control " >
    <br>
    <input type="text" placeholder="name" formControlName="name" class="form-control"  >
    <br>
    <input type="text" placeholder="salePrice" formControlName="salePrice" class="form-control" >
    <br>
    <input type="text" placeholder="codePostal" formControlName="codePostal" class=" form-control" >
    <br>
    <input type="text" placeholder="stock" formControlName="stock" class=" form-control " >
    <br>
    <input type="text" placeholder="description" formControlName="description" class=" form-control " >
    <br>
    <input type="text" placeholder="id_sub_categories" formControlName="id_sub_categories" class=" form-control " >
  
  
    <br>
  
    <button type="submit" class="btn btn-outline-primary btn-lg btn-block "
      [disabled]="!imageForm.valid"
      > Crear </button>
    </div>
