<!-- navbar Ecushop -->
<app-nav-ecushop></app-nav-ecushop>
<div class="container container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-20 d-md-block bg-light sidebar collapse">

      <div class="position-sticky pt-3">

        <ul class="nav flex-column">

          <li class="nav-item">
            <a class="nav-link active text-dark" aria-current="page">

              <span data-feather="home"></span>
              Mis mercados
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-tshirt"></i>
              Ropa
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div><b>
                  <li><a class="dropdown-item" href="#">Ropa de mujer</a></li>
                </b></div>
              <li><a class="dropdown-item" href="#">Conjuntos</a></li>
              <li><a class="dropdown-item" href="#">Calcetines</a></li>
              <li><a class="dropdown-item" href="#">Pantalanoes</a></li><br>
              <div><b>
                  <li><a class="dropdown-item" href="#">Ropa deportiva</a></li>
                </b></div>
              <li><a class="dropdown-item" href="#">Ropa fitnes</a></li>
              <li><a class="dropdown-item" href="#">Ropa Football</a></li>
              <li><a class="dropdown-item" href="#">Ropa Ciclismo</a></li><br>
              <div><b>
                  <li><a class="dropdown-item" href="#">Ropa de bebe</a></li>
                </b> </div>
              <li><a class="dropdown-item" href="#">Conjuntos</a></li>
              <li><a class="dropdown-item" href="#">Calcetines</a></li>
              <li><a class="dropdown-item" href="#">pantalanoes</a></li>

            </ul>
          <li class="nav-item dropright">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-charging-station"></i>
              Electronica de mercados
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div><b>
                  <li><a class="dropdown-item" href="#">Telefono Movil</a></li>
                </b></div>
              <li><a class="dropdown-item" href="#">Telefonos</a></li>
              <li><a class="dropdown-item" href="#">Estuches</a></li>
              <li><a class="dropdown-item" href="#">Cargadores</a></li><br>
              <div><b>
                  <li><a class="dropdown-item" href="#">Software y Hardware</a></li>
                </b></div>
              <li><a class="dropdown-item" href="#">Cpus</a></li>
              <li><a class="dropdown-item" href="#">Torres y Cajas</a></li>
              <li><a class="dropdown-item" href="#">Ventiladores</a></li><br>
              <div><b>
                  <li><a class="dropdown-item" href="#">Camaras fotograficas</a></li>
                </b> </div>
              <li><a class="dropdown-item" href="#">Grips Baterias</a></li>
              <li><a class="dropdown-item" href="#">Filtros de camaras</a></li>
              <li><a class="dropdown-item" href="#">Bolsas</a></li>
            </ul>
          <li class="nav-item dropleft">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-car"></i>
              Vehiculos y Accesorios

            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div><b>
                  <li><a class="dropdown-item" href="#">Piezas y accesorios</a></li>
                </b></div>
              <li><a class="dropdown-item" href="#">Aire acondicionado</a></li>
              <li><a class="dropdown-item" href="#">Carroceria</a></li>
              <li><a class="dropdown-item" href="#">Aparatos electronicos</a></li><br>
              <div><b>
                  <li><a class="dropdown-item" href="#">Piezas autobus</a></li>
                </b></div>
              <li><a class="dropdown-item" href="#">Chazis</a></li>
              <li><a class="dropdown-item" href="#">Tapiceria</a></li>
              <li><a class="dropdown-item" href="#">Accesorios para autobus</a></li><br>
              <div><b>
                  <li><a class="dropdown-item" href="#">Piezas y accesorios de aviacion</a></li>
                </b> </div>
              <li><a class="dropdown-item" href="#">Accesorios de aviacion</a></li>
              <li><a class="dropdown-item" href="#">Deltas</a></li>
              <li><a class="dropdown-item" href="#">Turbinas</a></li>
            </ul>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-football-ball"></i>
              Deportes y entrenemiento
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div><b>
                  <li><a class="dropdown-item" href="#">Parque de atracciones</a></li>
                </b></div>
              <li><a class="dropdown-item" href="#">Carritos chocones</a></li>
              <li><a class="dropdown-item" href="#">Muros de escalar</a></li>
              <li><a class="dropdown-item" href="#">tunel de entretenimiento</a></li><br>
              <div><b>
                  <li><a class="dropdown-item" href="#">Juegos de azar</a></li>
                </b></div>
              <li><a class="dropdown-item" href="#">Bingo</a></li>
              <li><a class="dropdown-item" href="#">Dados</a></li>
              <li><a class="dropdown-item" href="#">Fichas de poquer</a></li><br>
              <div><b>
                  <li><a class="dropdown-item" href="#">Botes y barcos</a></li>
                </b> </div>
              <li><a class="dropdown-item" href="#">Barcaza</a></li>
              <li><a class="dropdown-item" href="#">yate de cabina</a></li>
              <li><a class="dropdown-item" href="#">Bunque de carga</a></li>
            </ul>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-subway"></i>
              Maquinaria
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div><b>
                  <li><a class="dropdown-item" href="#">Maquinaria y equipo agricola</a></li>
                </b></div>
              <li><a class="dropdown-item" href="#">Embaladoras</a></li>
              <li><a class="dropdown-item" href="#">Maquinas de briquetas</a></li>
              <li><a class="dropdown-item" href="#">Equipo cria de animales</a></li><br>
              <div><b>
                  <li><a class="dropdown-item" href="#">Equipo para limpieza</a></li>
                </b></div>
              <li><a class="dropdown-item" href="#">Barredoras</a></li>
              <li><a class="dropdown-item" href="#">Equipo de desinfeccion</a></li>
              <li><a class="dropdown-item" href="#">Piezas para maquinas de limpieza</a></li><br>
              <div><b>
                  <li><a class="dropdown-item" href="#">Maquinaria de productos quimicos</a></li>
                </b> </div>
              <li><a class="dropdown-item" href="#">Maquinaria y equipo quimico</a></li>
              <li><a class="dropdown-item" href="#">Equipo de produccion</a></li>
              <li><a class="dropdown-item" href="#">Maquinaria farmaceutica</a></li>
            </ul>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-home"></i>
              Hogar y jardin
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div><b>
                  <li><a class="dropdown-item" href="#">Articulos de jardin</a></li>
                </b></div>
              <li><a class="dropdown-item" href="#">Barbacoa</a></li>
              <li><a class="dropdown-item" href="#">Construcciones de jardin</a></li>
              <li><a class="dropdown-item" href="#">Jardines y macetas</a></li><br>
              <div><b>
                  <li><a class="dropdown-item" href="#">Almacenamiento</a></li>
                </b></div>
              <li><a class="dropdown-item" href="#">Armarios organizadores</a></li>
              <li><a class="dropdown-item" href="#">Estanterias</a></li>
              <li><a class="dropdown-item" href="#">Perchas</a></li><br>
              <div><b>
                  <li><a class="dropdown-item" href="#">Decoracion para el hogar</a></li>
                </b> </div>
              <li><a class="dropdown-item" href="#">Plantas artificiales</a></li>
              <li><a class="dropdown-item" href="#">Velas y fragancia</a></li>
              <li><a class="dropdown-item" href="#">Cortineros</a></li>
            </ul>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-kiss"></i>
              Belleza y cuidado personal
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div><b>
                  <li><a class="dropdown-item" href="#">Articulos para Baño</a></li>
                </b></div>
              <li><a class="dropdown-item" href="#">Perlas de Baño</a></li>
              <li><a class="dropdown-item" href="#">Aceites de Baño</a></li>
              <li><a class="dropdown-item" href="#">Espuma para baño</a></li><br>
              <div><b>
                  <li><a class="dropdown-item" href="#">Arte corporal</a></li>
                </b></div>
              <li><a class="dropdown-item" href="#">Aerografo</a></li>
              <li><a class="dropdown-item" href="#">Mango de tatuar</a></li>
              <li><a class="dropdown-item" href="#">Maquina tatuadora</a></li><br>
              <div><b>
                  <li><a class="dropdown-item" href="#">Cuidado del bebé</a></li>
                </b> </div>
              <li><a class="dropdown-item" href="#">Toallas</a></li>
              <li><a class="dropdown-item" href="#">Cuidado de la piel</a></li>
              <li><a class="dropdown-item" href="#">Tratamiento para el cabello</a></li>
            </ul>
        </ul>
      </div>
    </nav>
  </div>
</div>
<app-articule></app-articule>
