<!-- navbar Ecushop -->
<app-nav-ecushop></app-nav-ecushop>
<div class="we-container1 container">
    <div class="scroll">
        <div class="tabs">
            <div class="tab">
                <div>Todas las categorias</div>
            </div>
            <div class="tab">
                <div>Agricultura</div>
            </div>
            <div class="tab">
                <div>Energia</div>
            </div>
        </div>
    </div>
</div>
<!-- cards individuales -->
<div class="we-container2 container">
    <div class="row d-flex">
        <div class="we-col col-md-2 col-sm-6">
            <a class="item" routerLink="/products"(click)="goProducts()">
                <div class="box">
                    <img
                        src="https://image.dhgate.com/0x0s/f2-albu-g10-M00-46-89-rBVaVl4MpcmAOgtCAAYcZmBgc6U125.jpg/funda-de-silicona-para-samsung-galaxy-a30s.jpg">
                </div>
                <div class="box-info">
                    <h5>$ 400 - 300 </h5>
                    <p>Telefono inteligente samsung galaxy 30 s solo hoy UwU</p>
                </div>
            </a>
        </div>
        <!-- Borrar estas columnas de ejemplo  -->
        <!-- Desde aquí -->
        <div class="we-col col-md-2 col-sm-6">
            <a class="item" routerLink="/products">
                <div class="box">
                    <img
                        src="https://image.dhgate.com/0x0s/f2-albu-g10-M00-46-89-rBVaVl4MpcmAOgtCAAYcZmBgc6U125.jpg/funda-de-silicona-para-samsung-galaxy-a30s.jpg">
                </div>
                <div class="box-info">
                    <h5>$ 400 - 300 </h5>
                    <p>Telefono inteligente samsung galaxy 30 s solo hoy UwU</p>
                </div>
            </a>
        </div>
        <div class="we-col col-md-2 col-sm-6">
            <a class="item" href="">
                <div class="box">
                    <img
                        src="https://image.dhgate.com/0x0s/f2-albu-g10-M00-46-89-rBVaVl4MpcmAOgtCAAYcZmBgc6U125.jpg/funda-de-silicona-para-samsung-galaxy-a30s.jpg">
                </div>
                <div class="box-info">
                    <h5>$ 400 - 300 </h5>
                    <p>Telefono inteligente samsung galaxy 30 s solo hoy UwU</p>
                </div>
            </a>
        </div>
        <div class="we-col col-md-2 col-sm-6">
            <a class="item" href="">
                <div class="box">
                    <img
                        src="https://image.dhgate.com/0x0s/f2-albu-g10-M00-46-89-rBVaVl4MpcmAOgtCAAYcZmBgc6U125.jpg/funda-de-silicona-para-samsung-galaxy-a30s.jpg">
                </div>
                <div class="box-info">
                    <h5>$ 400 - 300 </h5>
                    <p>Telefono inteligente samsung galaxy 30 s solo hoy UwU</p>
                </div>
            </a>
        </div>
        <div class="we-col col-md-2 col-sm-6">
            <a class="item" href="">
                <div class="box">
                    <img
                        src="https://image.dhgate.com/0x0s/f2-albu-g10-M00-46-89-rBVaVl4MpcmAOgtCAAYcZmBgc6U125.jpg/funda-de-silicona-para-samsung-galaxy-a30s.jpg">
                </div>
                <div class="box-info">
                    <h5>$ 400 - 300 </h5>
                    <p>Telefono inteligente samsung galaxy 30 s solo hoy UwU</p>
                </div>
            </a>
        </div>
        <div class="we-col col-md-2 col-sm-6">
            <a class="item" href="">
                <div class="box">
                    <img
                        src="https://image.dhgate.com/0x0s/f2-albu-g10-M00-46-89-rBVaVl4MpcmAOgtCAAYcZmBgc6U125.jpg/funda-de-silicona-para-samsung-galaxy-a30s.jpg">
                </div>
                <div class="box-info">
                    <h5>$ 400 - 300 </h5>
                    <p>Telefono inteligente samsung galaxy 30 s solo hoy UwU</p>
                </div>
            </a>
        </div>
        <!-- Hasta aquí UwU -->
    </div>
</div>